/* Style Global */ 
body { 
    background-color: rgb(154, 154, 13);
    nav ul {
  list-style: none;       /* Enlève les puces */
  padding: 0;
  margin: 0;
  display: flex;          /* Affiche les <li> en ligne */
  gap: 20px;              /* Espace entre les éléments */
}

#home img { padding: 20px;}  
header img {
width: 200px;
margin-bottom: 30px;
  }
#about {
  background-color: #f5f5f5;   /* Couleur de fond pour mieux voir la section */
  margin: 50px 100px;          /* Espace autour de la section (haut/bas, gauche/droite) */
  padding: 30px;               /* Espace intérieur entre le bord et le texte */
  border-radius: 10px;         /* Bords arrondis (optionnel) */
 
}

#about p {
  font-size: 18px;
  line-height: 1.6;
  color: #333;  } 
  h1 {color: crimson; }
  }

#flexbox {
  display: flex;
}  